.item-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--color-border-1);
}

.item-inner {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
  padding: 13px 10px 30px 10px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  color: var(--color-text-1);
  transition: opacity ease 0.2s;
}

.item-header-text {
  height: 3.3em;
  word-break: break-all;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
  text-overflow: ellipsis;
}

.item-footer {
  display: flex;
  position: absolute;
  left: 10px; right: 10px;
  bottom: 0px;
}
