html,body,#root {
  background-color: var(--color-bg-2);
  height: 100%;
}
::-webkit-scrollbar {display: none; /* Chrome Safari */}

.arco-menu-inner {
  padding: 0px !important;
}

.arco-cascader-list-wrapper {
  padding: 0 !important;;
}
